.apps {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}

.app {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid transparent;
  outline: none;
  transition: 200ms ease;

  padding: 10px;
  margin: 5px;

  border-radius: 50%;

  animation: appear 500ms ease;
}

.app:focus {
  border-color: rgba(0, 100, 255, 0.5);
}

.app img {
  height: 56px;
  width: 56px;
  object-fit: cover;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.empty span {
  font-size: 30px;
  margin-bottom: 10px;
}

.empty .note {
  font-size: 18px;
  color: #aaa;
}
