.spotify {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 5px;
  width: 100%;
  flex: 1;
}

.hasSetup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
}

.hasSetup[data-shown='true'] {
  opacity: 1;
  pointer-events: all;
}

.hasSetup > span {
  font-size: 3rem;
  color: #1ed760;
}

.hasSetup .actions {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  flex: 1;
  animation: appearH 500ms ease;
}

.step code {
  font-family: inherit;
  font-size: 14px;
  padding: 2px 5px;
  background: #181818;
  border-radius: 5px;
  user-select: text;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  width: 100%;
}

.input {
  display: flex;
  width: 100%;
  gap: 10px;
}

.input input {
  flex: 1 !important;
}

.state {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  gap: 10px;
  animation: appear 500ms ease;
}

.state span {
  font-size: 4rem;
  color: #1ed760;
}

.state span[data-type='error'] {
  color: #ff0000;
}

.state p {
  font-size: 1.2rem;
}

.state[data-small='true'] {
  margin: 0 auto;
  flex-direction: row;
  margin-top: 10px;
}

.state[data-small='true'] p {
  font-size: 1rem;
}

.state[data-small='true'] span {
  font-size: 2rem;
}

.buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.buttons button {
  margin: 0 10px;
  animation: appearH 500ms ease;
}

@keyframes appearH {
  from {
    opacity: 0;
    transform: translateX(10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
