.none {
  position: relative;
  flex: 1;
}

.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.buttons:empty {
  pointer-events: none;
}
