* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans Variable', sans-serif;
  user-select: none;
}

.material-icons {
  font-family: 'Material Icons';
  font-size: 20px;
  line-height: 1;
  user-select: none;
}

button {
  all: unset;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #0064ff;
  cursor: pointer;
  transition: opacity 200ms ease;
}

button[data-type='danger'] {
  background-color: #f00;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

button[data-hidden='true'] {
  opacity: 0;
  pointer-events: none;
}

input[type='text'],
input[type='password'] {
  all: unset;
  padding: 8px;
  border-radius: 5px;
  background-color: #111;
  color: #fff;
  border: 1px solid #333;
}

input[type='text']:read-only,
input[type='password']:read-only {
  opacity: 0.5;
}

input[type='text']:disabled,
input[type='password']:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

::-webkit-scrollbar {
  display: none;
}

ol li {
  margin-left: 20px;
}
