.player {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.player .cover {
  all: unset;
  position: relative;
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
}

.player .cover img {
  border-radius: 20px;
  transition: filter 200ms ease;
  max-width: 100%;
}

.player .cover .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.player .cover .action[data-shown='true'] {
  opacity: 1;
}

.player .cover .action[data-shown='true'] ~ img {
  filter: blur(5px);
}

.player .cover .action span {
  position: absolute;
  font-size: 80px;
  opacity: 0;
  transition: opacity 500ms ease;
}

.player .cover .action span[data-shown='true'] {
  opacity: 1;
}

.player .name {
  font-size: 1.2em;
  font-weight: bold;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin-top: 5px;
  height: 40px;
  color: #fff;
}

.player .name span,
.player .artists span {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  overflow: visible;
  will-change: transform;
}

.player .name,
.player .artists {
  overflow: hidden;
  position: relative;
}

.player .name span,
.player .artists span {
  text-align: left;
  transform: translateX(0);
  will-change: transform;
  transition: transform 0.1s linear;
}

@media (max-width: 450px) {
  .center {
    width: 100%;
    padding: 20px;
  }
}

.player .artists {
  font-size: 0.8em;
  color: #aaa;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin-top: 5px;
  height: 26px;
}

.controls {
  display: flex;
}

.controls button {
  all: unset;
  display: flex;
  padding: 5px;
  z-index: 999;
}

.controls button span {
  font-size: 2em;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.progress .slider {
  width: 200px;
  height: 6px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress .slider .fill {
  height: 100%;
  background: var(--color-primary);
  transition: width 200ms ease;
}

.progress p {
  padding: 0 16px;
  font-size: 0.8em;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: #111;
  padding: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: 500ms ease;
}

.volume[data-shown='true'] {
  opacity: 1;
  transform: translateY(0);
}

.volume .slider {
  width: 225px;
  height: 12px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;

  /* visually centered */
  margin-right: 5px;
}

.volume .slider .fill {
  height: 100%;
  background: var(--color-primary);
  transition: width 200ms ease;
}

.volume button {
  all: unset;
  display: flex;
  padding: 10px;
}

.volume span {
  font-size: 1.5em;
}

.notPlaying {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.notPlaying span {
  font-size: 50px;
  margin-bottom: 5px;
}

.notPlaying .title {
  font-size: 26px;
}

.notPlaying .note {
  font-size: 20px;
  color: #aaa;
  max-width: 80%;
}

:root {
  --color-primary: #0064ff;
  --color-secondary: #111;
  --color-tertiary: #ddd;
  --color-quaternary: #aaa;
}
