.spotify {
  flex: 1;
  padding: 16px;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.spotify .cover {
  all: unset;
  position: relative;
  flex: 1;
  border-radius: 20px;
  overflow: hidden;
}

.spotify .cover img {
  border-radius: 20px;
  transition: filter 200ms ease;
}

.spotify .cover .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 200ms ease;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}

.spotify .cover .action[data-shown='true'] {
  opacity: 1;
}

.spotify .cover .action[data-shown='true'] ~ img {
  filter: blur(5px);
}

.spotify .cover .action span {
  position: absolute;
  font-size: 80px;
  opacity: 0;
  transition: opacity 500ms ease;
}

.spotify .cover .action span[data-shown='true'] {
  opacity: 1;
}

.spotify .name {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.spotify .artists {
  font-size: 0.8em;
  color: #aaa;
}

.controls {
  display: flex;
}

.controls button {
  all: unset;
  display: flex;
  padding: 12px;
  z-index: 999;
}

.controls button span {
  font-size: 2em;
}

.progress {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.progress .slider {
  width: 200px;
  height: 6px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress .slider .fill {
  height: 100%;
  background: #0064ff;
  transition: width 200ms ease;
}

.progress p {
  padding: 0 16px;
  font-size: 0.8em;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  background: #111;
  padding: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: 500ms ease;
}

.volume[data-shown='true'] {
  opacity: 1;
  transform: translateY(0);
}

.volume .slider {
  width: 225px;
  height: 12px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;

  /* visually centered */
  margin-right: 5px;
}

.volume .slider .fill {
  height: 100%;
  background: #0064ff;
  transition: width 200ms ease;
}

.volume button {
  all: unset;
  display: flex;
  padding: 10px;
}

.volume span {
  font-size: 1.5em;
}

.notPlaying {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.notPlaying span {
  font-size: 50px;
  margin-bottom: 5px;
}

.notPlaying .title {
  font-size: 26px;
}

.notPlaying .note {
  font-size: 20px;
  color: #aaa;
  max-width: 80%;
}
