.developer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  margin: 20px;
  animation: appear 500ms ease;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
