.controls {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.control {
  all: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid transparent;
  outline: none;
  transition: 200ms ease;
}

.control:focus {
  border-color: var(--color-primary);
}

.control span {
  background: #444;
  padding: 15px;
  border-radius: 50%;
  font-size: 2rem;
}

.control[data-type='lock'] span {
  background: rgb(255, 50, 50);
}

.control[data-type='power'] span {
  background: rgb(50, 50, 255);
}

.control[data-type='devices'] span {
  background: rgb(29, 185, 84); /* Spotify green */
}

.control p {
  margin-top: 5px;
  font-size: 0.8em;
}

.modalOverlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 15px;
  animation: modalFadeIn 0.2s ease-out;
  overflow: hidden;
  flex: 1;
  border-radius: 20px;
  background: #111;
  border: 2px solid transparent;
  outline: none;
  transition: 200ms ease;
  max-height: 100%;
  margin: 5px;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
}

.modalContent {
  display: flex;
  align-items: stretch;
  justify-content: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
